.mapboxgl-map {
    height: 100%;
    width: 100%;
    position: absolute;
}

body{
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    color: #000;
    margin: 0px;
}

.link1 {
    display: block;
    text-align: left;
}

a.link1 {
    border-top: 1px dashed black;
    padding-top: 5px;
}

a.link1:first-child {
    border-top: none;
    padding-bottom: 5px;
}